<div>
  <div class="row">
    
    <div class="col-4 offset-lg-4 jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <form action="#" (submit)="formSubmit($event)">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" id="username">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="password">
              </div> 
              <div class="form-group">
                  <a routerLink="/register" class="btn btn-outline-warning float-right">Register</a>
                <input type="submit" class="btn btn-outline-primary" value="Login">
              </div> 
        </form>
        <p class="help-text" id="response">{{resp}}</p>
         
    </div>
  </div>
 
</div>
