<div class="container">
  <div class="row">
    <div class="col-8 offset-lg-2 jumbotron">
      <h2 class="display-3">Admin Works</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe commodi repellat doloribus, perferendis ullam alias, accusamus animi fugiat aliquam atque? Mollitia voluptate aut necessitatibus deserunt. Eligendi voluptatum repudiandae earum explicabo quia optio recusandae nobis vel rerum accusamus ducimus aspernatur blanditiis perspiciatis sint, temporibus laudantium labore adipisci deserunt nisi quo sequi excepturi delectus nihil! Alias quia vero quibusdam. Ea saepe natus totam, magnam corporis error illo magni at eius sint, quos quam praesentium minus a fugit voluptas, voluptatibus optio mollitia dolorum ducimus excepturi quidem commodi impedit quibusdam. A similique voluptatibus consequatur distinctio libero? Officiis magnam unde perferendis nulla animi numquam.</p>
      <button (click)='logout()' class="btn btn-outline-info">Logout</button>
    </div>
  </div>
</div>
